In [1]:
import pandas as pd
df = pd.read_csv("Ready_person.csv")
df

      Name  Covid  Prediction
0   Alston      1           0
1   Atkins      0           1
2    Ayala      1           1
3    Ayers      1           1
4   Barlow      0           1
..     ...    ...         ...
95   Wells      0           1
96    West      0           1
97   Wiley      0           1
98    Witt      1           1
99  Wooten      0           1

[100 rows x 3 columns]

In [2]:
from sklearn.metrics import classification_report
report = classification_report(df['Covid'],df['Prediction'])

'              precision    recall  f1-score   support\n\n           0       0.33      0.02      0.03        56\n           1       0.43      0.95      0.60        44\n\n    accuracy                           0.43       100\n   macro avg       0.38      0.49      0.31       100\nweighted avg       0.38      0.43      0.28       100\n'

In [3]:
print(report)

              precision    recall  f1-score   support

           0       0.33      0.02      0.03        56
           1       0.43      0.95      0.60        44

    accuracy                           0.43       100
   macro avg       0.38      0.49      0.31       100
weighted avg       0.38      0.43      0.28       100